<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>

        <div class="preloader__item"></div>
    </div>
</div>

<header>
    <div class="header-menu">
        <canvas class="canvas-menu" id="canvas-basic"></canvas>
        <button class="header__button nav-btn-js" type="button">
      <span class="none-menu localization">M*</span
      ><span caption="Menu" class="none-tablet localization">MENU*</span>
    </button>
        <nav class="header__nav nav-js" data-active="false">
            <ul class="header__menu">
                <li class="header__menu-item">
                    <a caption="Home" class="localization" href="../src/index.html">Home</a>
                </li>
                <li class="header__menu-item">
                    <a caption="About" class="localization" target="_blank" href="../src/about.html">About</a>
                </li>
                <li class="header__menu-item">
                    <a caption="Help" class="localization" target="_blank" href="../src/help.html">Help</a>
                </li>
            </ul>
        </nav>
    </div>
</header>