<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>

        <div class="preloader__item"></div>
    </div>
</div>
<header>
    <div class="header-menu">
        <canvas class="canvas-menu" id="canvas-basic"></canvas>
        <button class="header__button nav-btn-js" type="button">
      <span class="none-menu localization">M*</span
      ><span id="menu" caption="Menu" class="none-tablet localization"></span>
    </button>
        <nav class="header__nav nav-js" data-active="false">
            <ul class="header__menu">
                <li class="header__menu-item">
                    <a id="menuHome" caption="Home" class="localization" href="../src/index.html"></a>
                </li>
                <li class="header__menu-item">
                    <a id="menuAbout" caption="About" class="localization" href="../src/about.html"></a>
                </li>
                <li class="header__menu-item">
                    <a id="menuHelp" caption="Help" class="localization" href="../src/help.html"></a>
                </li>
            </ul>
        </nav>
    </div>
</header>