<button id="authors-open"><span> A* </span></button>
<section class="authors">
    <button caption="Hide" class="localization" id="authors-hide"></button>

    <ul id="author-1" data-pointer-type="content" class="person-list">
        <li id="artDir" caption="firstSpec" class="localization"></li>
        <li id="FirsAuthor" caption="firstName" class="localization"></li>
    </ul>
    <ul id="author-2" data-pointer-type="content" class="person-list">
        <li id="creatDir" caption="secondSpec" class="localization"></li>
        <li id="SecAuthor" caption="secondName" class="localization"></li>
    </ul>
    <ul id="author-3" data-pointer-type="content" class="person-list">
        <li id="Design" caption="thirdSpec" class="localization"></li>
        <li id="ThrAuthor" caption="thirdName" class="localization"></li>
    </ul>
</section>
<h1 id="main-text" class="main-title">YOUNGCHILD*</h1>
<ul class="main-img-list">
    <li>
        <img id="home-bg-image" class="main-img" src="./images/Main-IMG.png" alt="" />
    </li>
    <li>
        <h3 id="photo-title">
            <a class="photo-link" href="./photo.html" target="_blank">PHOTOS</a>
        </h3>
    </li>
    <li class="videos">
        <iframe id="iframe-home" width="1268" height="844" src="https://www.youtube.com/embed/nO9aot9RgQc?controls=0&showinfo=0&autoplay=1&rel=0&loop=1&playlist=nO9aot9RgQc&start=28&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </li>
    <li>
        <h3 id="video-title">
            <a class="video-link" href="./video.html" target="_blank">VIDEOS</a>
        </h3>
    </li>
</ul>