<button id="authors-open"><span> A* </span></button>
<section class="authors">
    <button caption="Hide" class="localization" id="authors-hide"></button>

    <ul id="author-1" data-pointer-type="content" class="person-list">
        <li id="artDir" caption="firstSpec" class="localization"></li>
        <li id="FirsAuthor" caption="firstName" class="localization"></li>
    </ul>
    <ul id="author-2" data-pointer-type="content" class="person-list">
        <li id="creatDir" caption="secondSpec" class="localization"></li>
        <li id="SecAuthor" caption="secondName" class="localization"></li>
    </ul>
    <ul id="author-3" data-pointer-type="content" class="person-list">
        <li id="Design" caption="thirdSpec" class="localization"></li>
        <li id="ThrAuthor" caption="thirdName" class="localization"></li>
    </ul>
</section>
<section class="photo-title-info">
    <div class="mouse-parallax">
        <div class="mouse-parallax-bg">
            <h1 id="main-second-text" class="main-title-second">PHOTOS</h1>
            <img id="main-second-logo" width="200" src="./svg/teddy-bear.svg" alt="" />
        </div>
    </div>
</section>
<section class="mobile-img">
    <input type="text" id="search" placeholder="Search Photos" class="photo-input" />
    <button id="searchPhotos" type="submit">S</button>
</section>

<section class="gallery"></section>

<!--
        display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--standart-30px));
    justify-content: center;
 -->